*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0px;
}

.titulo {   
    display: flex;
    flex-direction: column;
    background-color: black;
}

.contenedormuseo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    background-image: url(img/museo.jpg);
}

.museo{
    color: white;
}

/* Buscador */
.conteiner{
    display: flex;
    flex-direction: column;
    background-color: black;
}


#contiene-buscador {
    display: flex; 
    flex-direction: row;
    gap: 20px; 
    padding: 20px; 
}

#buscador {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    gap: 30px; 
    padding: 0 60px;
}


#buscador form {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
}


#imput {
    flex: 1; 
    margin-right: 5px; 
}


label {
    display: block; 
    margin-bottom: 10px; 
    font-weight: bold; 
}


input[type="text"],
select {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
}


#boton {
    padding: 10px 20px; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}


#boton:hover {
    background-color: #0056b3; 
}


.conteiner {
    max-width: auto; 
    margin: auto; 
    padding: 0; 
    border: 0; 
    border-radius: 8px; 
    background-color: gray;  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}


/* Grilla */
#grilla {
    display: grid;
    grid-template-columns: auto auto auto auto; 
    grid-template-rows: auto;
    gap: 20px; 
    padding: 20px; 
    background-color: black;
}

.resultado {
    color: white;
}

.objeto {
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    transition: transform 0.2s; 
}


.objeto:hover {
    transform: scale(1.05); 
}


.objeto img {
    width: 350px; 
    height: 250px; 
}


.title, .cultura, .dinastia {
    padding: 10px; 
    font-size: 16px; 
    color: #333; 
}

button {
    display: block;
    margin: 10px auto;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF; 
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; 
}


footer {
    background-color: gray;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

#paginacion {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

#botonAnterior, #botonSiguiente {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#botonAnterior:hover, #botonSiguiente:hover {
    background-color: #0056b3;
}

#paginaActual {
    font-weight: bold;
    color: #333;
}

#botonAnterior:disabled, #botonSiguiente:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}





